/* Default Style Sheet */
body {
	text-align: center;
}

p {
	color: #003366;
	line-height: 25px;
}

h1 {
	color: 000000;
	text-align: center;
  margin: 0;
	margin-bottom: 25px;
}

h2 {
	color: #FF7F50;
	text-align: center;
  margin: 0px;
	background-color: #D3D3D3;
  padding: 18px;
  margin-bottom: 20px;
}

h3 {
	color: 696969;
  margin: 0;
}

div {
		background:white;
		overflow:hidden;
	}

span {
		background:white;
		display:inline-block;
		float:inherit;
		margin:0px 0px 0 0;
		padding:0px 0px;
}

img.center {
	margin-left: auto;
	margin-right: auto;
}
